<div class="center">
  <input type="file" (change)="ReadExcel($event)">
</div>
<br>

<div *ngIf="datos != 0">
  <h1 style="text-align: center;">{{datos}} datos cragados</h1>
  <div class="center">
    <button (click)="generarMapa()">Generar Mapa</button>
  </div>
  <br>
</div>

<div *ngIf="mapa == true">
  <agm-map [latitude]="cp_lat" [longitude]="cp_lng" [zoom]="14" >

    <agm-marker [latitude]="cp_lat" [longitude]="cp_lng">
        <agm-info-window>
            <strong>Casa PLUS</strong>
        </agm-info-window>
    </agm-marker>

    <agm-marker *ngFor="let point of coords" [latitude]="point.lat" [longitude]="point.lng" [label]="point.id">
      <agm-info-window>
          <strong>{{point.ticket}} - {{point.cli}}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>